{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<h3> All Connected Devices</h3>
<p>{{ msg }}</p>

<div>
<table>
    <tr>
      <th>Device ID</th>
      <th>Device Owner (Email)</th>
      <th>Device Site </th>
      <th>Device Location</th>
      <th>Action</th>
      <th>Jobs</th>
    </tr>
    {% for each in all_devices %}
    <tr>
      <td>{{each.uuid}}</td>
      {% for user in all_users %}
        {% if user.uuid == each.owner_uuid: %}
            <td>{{user.email_address}}</td>
        {% endif %}
    {% endfor %}
      <td>{{each.device_site}}</td>
      <td>{{each.location}}</td>
      <td>
        <form action="{{ url_for('site_admin.admin_devices_delete') }}" method="post">
            <input name="uuid" id="uuid" value="{{each.uuid}}" hidden>
            <input name="token" id="token" value="{{each.token}}" hidden>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        {% if each.status == 1: %}
          <form action="{{ url_for('site_admin.admin_devices_suspend') }}" method="post">
            <input name="uuid" id="uuid" value="{{each.uuid}}" hidden>
            <input name="token" id="token" value="{{each.token}}" hidden>
            <button type="submit" class="btn btn-warning">Suspend</button>
          </form>
        {% else: %}
          <form action="{{ url_for('site_admin.admin_devices_reinstate') }}" method="post">
            <input name="uuid" id="uuid" value="{{each.uuid}}" hidden>
            <input name="token" id="token" value="{{each.token}}" hidden>
            <button type="submit" class="btn btn-primary">Reinstate</button>
          </form>
        {% endif %}
          
        </td>
        <td>
  
          {%if all_d_r_len == 0:%}
            <form action="{{ url_for('site_admin.admin_devices_alert') }}" method="post">
              <input name="uuid" id="uuid" value="{{each.uuid}}" hidden>
              <input name="choice" id="choice" value="sms" hidden>
              <button type="submit" class="btn btn-success">SMS 1</button>
            </form>
          {%else:%}
            {% for each_rule in all_device_rules:%}
              {%if each_rule.device_uuid == each.uuid:%}
              <form action="{{ url_for('site_admin.admin_devices_alert_remove') }}" method="post">
                <input name="uuid" id="uuid" value="{{each.uuid}}" hidden>
                <input name="choice" id="choice" value="sms" hidden>
                <button type="submit" class="btn btn-danger">SMS Remove</button>
              </form>
              {%else:%}
                <form action="{{ url_for('site_admin.admin_devices_alert') }}" method="post">
                  <input name="uuid" id="uuid" value="{{each.uuid}}" hidden>
                  <input name="choice" id="choice" value="sms" hidden>
                  <button type="submit" class="btn btn-success">SMS Add</button>
                </form>
              {%endif%}
            {%endfor%}
          {%endif%}
          

        </td>
    </tr>
    {% endfor %}

</div>
{% endblock %}