{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<h3> All Connected Devices</h3>
<p>{{ msg }}</p>

<div>
<table>
    <tr>
      <th>User UUID </th>
      <th>User Name </th>
      <th>User Email </th>
      <th>User Type </th>
      <th>Action</th>
    </tr>
    {% for each in users %}
    <tr>
      <td>{{each.uuid}}</td>
      <td>{{each.first_name}} {{each.last_name}}</td>
      <td>{{each.email_address}}</td>
      <td>
        {%for each_status in user_status %}
          {%if each.status == each_status.uuid%}
            {{each_status.status_name}}
          {%endif%}
        {%endfor%}
      </td>  
    
    <td>
        <form action="{{ url_for('site_admin.admin_users_delete') }}" method="post">
            <input name="uuid" id="uuid" value="{{each.uuid}}" hidden>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        
    </td>
    {% endfor %}




</div>
{% endblock %}