{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<div>
    <div>
        <h1>Register a user</h1>
        <p> {{ msg }} </p>
    </div>
    <div>
        <table>
            <tr>
                <th>Role Name </th>
                <th>Role Description </th>
            </tr>
            {% for each in roles %}
            <tr>
                <th>{{each.status_name}}</th>
                <th>{{each.status_desc}}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

        <form action="{{ url_for('site_admin.admin_create_user') }}" method="post">
        <input type="text" name="first_name" placeholder="First Name" id="first_name" required>
        <input type="text" name="last_name" placeholder="Last Name" id="last_name" required>
        <input type="email" name="email" placeholder="Email@emai.com" id="email" required>
        <input type="password" name="password" placeholder="Password" id="password" required>
		<label for="phone" class="text-info">International standard is required if your phone number is 0403 123 456 you will need replace the 0 with 61 so 61403 123 456</label>
	    <input type="tel" name="phone" placeholder="" id="phone"  class="form-control" required>
        <label for="cars">Select Role type:</label>
            <select name="role" id="role" required>
                {% for each in roles %}
                <option value="{{each.uuid}}">{{each.status_name}}</option>
                {% endfor %}
            </select>
        <input type="submit" value="Register User">
    </form>
</div>

{% endblock %}