{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<h3>Add a new device to your collection</h3>

</div>
<div>
    <br>
</div>
<div >
        <form action="{{ url_for('site_admin.add_device') }}" method="post">
        <label>Location of sensor</label>            
        <input type="text" name="location" placeholder="Device Location" id="location" required>
        <label for="site"> Choose site to asign to</label>
        <select id="site" name="site" required>
            <option selected disabled>Choose Account</option>
              {% for each in sites %}
                <option value='{{each.uuid}}'>{{each.name}}</option>
              {% endfor %}
              </select>
        <br>
        <label>How often device should return data in minutes</label> 
        <input type="number" name="time_limit" placeholder="Time in Minutes" id="time_limit" required>
        </div>
        <div>   
        <label for="accountStatus"> Make For</label>
        <select id="uuid" name="uuid" required>
            <option selected disabled>Choose Account</option>
              {% for each in all_users %}
                <option value='{{each.uuid}}'>{{each.email_address}}</option>
              {% endfor %}
              </select>
    <div>
        <input type="submit" value="Create Device Token">
    </div>
    </form>
    <br>
    <div>
        <p> {{ msg }} </p>
        <p> Use the below infomation for configuration of the device</p>
        <p>Device Token: <div>{{ token }}</div></p>
        <p>Device UUID: <div>{{ uuid }}</div></p>
    </div>
</div>


{% endblock %}