{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<div>
    <div>
        <h1>Admin Home</h1>
        <p> {{ msg }} </p>
    </div>
    <div>
        <h4>Send a User a txt</h4>
        <form action="{{ url_for('site_admin.admin_home') }}" method="post">
            <input type="text" name="phone_number" placeholder="Phone Number" id="phone_number" required>
            <input type="text" name="msg" placeholder="Message" id="msg" required>
            
    
            <input type="submit" value="Send Message">
        </form>
    </div>

</div>

{% endblock %}