<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>{% block title %}{% endblock %}</title>
	
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-dark">
		<a class="navbar-brand" href="{{ url_for('site.home') }}">Plant Monitor</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('site.home') }}"> Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						My Account
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ url_for('site.home') }}"> Devices </a>
						<a class="dropdown-item" href="{{ url_for('site.ticket') }}"> Support Tickets </a>
						<a class="dropdown-item" href="{{ url_for('site.logout') }}"> Log Out </a>
				</li>
				{% if session['status'] == 1 %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Admin Tools
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% if session['status'] == 1 %}
						<a class="dropdown-item" href="{{ url_for('site_admin.add_device') }}">Add a device</a>
						<a class="dropdown-item" href="{{ url_for('site_admin.admin_devices') }}"> Connected Devices</a>
						<a class="dropdown-item" href="{{ url_for('site_admin.admin_create_user') }}"> Create a User</a>
						<a class="dropdown-item" href="{{ url_for('site_admin.admin_ticket') }}"> Support Tickets</a>
						<a class="dropdown-item" href="{{ url_for('site_admin.admin_users') }}"> Site Users</a>
						{% endif %}
						<a class="dropdown-item" href="{{ url_for('site.logout') }}"> Log Out </a>
				</li>
			</ul>

		</div>
		{%endif%}
	</nav>
	<div class="container">
		
		{% block content %}{% endblock %}
		
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>

</html>

