{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<h3> My Devices</h3>
<p>{{ msg }}</p>

<div>
<table>
    <tr>
      <th>Device ID</th>
      <th>Connected Site</th>
      <th>Device Location</th>
      <th>Device Status</th>
      <th>Action</th>
    </tr>
    {% for each in user_devices %}
    <tr>
      <td>{{each.uuid}}</td>
      {%for each_site in all_sites %}
        {%if each.device_site == each_site.uuid%}
            <td>{{each_site.name}}</td>
        {%endif%}
        {%endfor%}
      <td>{{each.location}}</td>
      <td>
          {% if each.status == 1: %}
          <span class="badge badge-success">Online</span>
          {%else:%}
          <span class="badge badge-danger">Error / Offline </span>
          {%endif%}
      </td>
      <td>
        <form action="{{ url_for('site.data') }}" method="post">
            <input name="uuid" id="uuid" value="{{each.uuid}}" hidden>
            <button type="submit" class="btn btn-info">Graph</button>
        </form>
        <form action="{{ url_for('site.download_csv') }}" method="post">
            <input name="uuid" id="uuid" value="{{each.uuid}}" hidden>
            <button type="submit" class="btn btn-info">Download Raw Data</button>
        </form>


          
        </td>
    </tr>
    {% endfor %}

</div>
{% endblock %}