<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>{% block title %}{% endblock %}</title>
	
	</head>
	<body>
		
		

		<div id="login">
			<h3 class="text-center text-white pt-5">Login form</h3>
			<p class="text-center pt-5"> {{ msg }} </p>
			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12">
							<form id="login-form" class="form" action="{{ url_for('site.login') }}" method="post">
								<h3 class="text-center text-info">Login</h3>
								<div class="form-group">
									<label for="email" class="text-info">Email:</label><br>
									<input type="email" name="email" id="email" class="form-control" required>
								</div>
								<div class="form-group">
									<label for="password" class="text-info">Password:</label><br>
									<input type="password" name="password" id="password" class="form-control" required>
								</div>
								<div class="form-group">
									<input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
								</div>
								<div id="register-link" class="text-right">
									<a href="{{ url_for('site.register') }}" class="text-info">Register</a>
								</div>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>


	</body>
</html>