<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>{% block title %}{% endblock %}</title>
	
	</head>
	<body>
		

		<div id="login">
			<h3 class="text-center text-white pt-5">Register form</h3>
			<h5 class="text-center text-white pt-5"><p> {{ msg }} </p></h5>
			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12">
							<form id="login-form" class="form" action="{{ url_for('site.register') }}" method="post">
								<h3 class="text-center text-info">Register</h3>
								<div class="form-group">
									<label for="first_name" class="text-info">First Name:</label><br>
									<input type="text" name="first_name" placeholder="First Name" id="first_name"  class="form-control" required>
								</div>
								<div class="form-group">
									<label for="last_name" class="text-info">Last Name:</label><br>
									<input type="text" name="last_name" placeholder="Last Name" id="last_name"  class="form-control" required>
								</div>
								<div class="form-group">
									<label for="email" class="text-info">Email:</label><br>
									<input type="email" name="email" placeholder="howdy@example.com" id="email"  class="form-control" required>
								</div>
								<div class="form-group">
									<label for="phone" class="text-info">Phone Number:</label><br>
									<label for="phone" class="text-info">International standard is required if your phone number is 0403 123 456 you will need replace the 0 with 61 so 61403 123 456</label>
									<input type="tel" name="phone" placeholder="" id="phone"  class="form-control" required>
								</div>
								<div class="form-group">
									<label for="password" class="text-info">password:</label><br>
									<input type="password" name="password" id="password"  class="form-control" required>
								</div>
								<div class="form-group">
									<input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
								</div>
								<div id="register-link" class="text-right">
									<a href="{{ url_for('site.login') }}" class="text-info">Login</a>
								</div>
							</form>
						</div>
					</div>
					<div>
						<h1> By Signing Up in you agree to the following</h1>
						<h3>Information that is gathered from visitors</h3>

In common with other websites, log files are stored on the web server saving details such as the visitor's IP address, browser type, referring page and time of visit.

Cookies may be used to remember visitor preferences when interacting with the website.

Where registration is required, the visitor's email and a username will be stored on the server.

<h3>How the Information is used</h3>

The information is used to enhance the vistor's experience when using the website to display personalised content and possibly advertising.

E-mail addresses will not be sold, rented or leased to 3rd parties.

If you have subscribed to one of our services, you may unsubscribe by following the instructions which are included in e-mail that you receive.

You may be able to block cookies via your browser settings but this may prevent you from access to certain features of the website.
<br>
<br>
					</div>
				</div>
			</div>
		</div>


	</body>
</html>