{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<div>

    <div>
        <h1>My Tickets</h1>

        <table>
            <tr>
              <th>Ticket UUID </th>
              <th>Ticket Name </th>
              <th>Ticket Details </th>
              <th>Ticket Status </th>
              <th>Action</th>
              <th>Read</th>
            </tr>
            {% for each in tickets %}
            <tr>
              <td>{{each.uuid}}</td>
              <td>{{each.ticket_header}}</td>
              <td>{{each.ticket_body}}</td>
              <td>
                    {% if each.ticket_status == 1:  %}
                    <span class="badge bg-success">Ticket Closed</span>
                    {% else: %}
                    <span class="badge bg-primary">Ticket Open</span>
                    {% endif %}
              </td>  
            
            <td>
                {% if each.ticket_status == 2:  %}
                <form action="{{ url_for('site.ticket_close') }}" method="post">
                    <input name="uuid" id="uuid" value="{{each.uuid}}" hidden>
                    <button type="submit" class="btn btn-success">Close {{each.uuid}}</button>
                </form>
                {% endif %}
            </td>
            
            <td>
                <form action="{{ url_for('site.ticket_read') }}" method="post">
                    <input name="uuid" id="uuid" value="{{each.uuid}}" hidden>
                    <button type="submit" class="btn btn-info">Read Ticket</button>
                </form>
            </td>
            {% endfor %}
        
    </div>

    <div>
        <h1>Submit A Ticket</h1>
        <p> {{ msg }} </p>
    </div>
   
        <form action="{{ url_for('site.ticket') }}" method="post">
        <input typ  e="text" name="ticket_header" placeholder="Ticket Name" id="ticket_header" required>
        <input type="text" name="user_uuid" id="user_uuid" value="{{session['uuid']}}" hidden>
        <br>
        <textarea name="ticket_body" id="ticket_body" placeholder="Enter text here..." required></textarea>
        <br>
        <input type="submit" value="Submit Ticket">
    </form>
</div>

{% endblock %}