

{% extends 'header.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div>
	<div>
		<h1>Ticket - Multiple{{tickets.uuid}} - {{tickets.ticket_header}}</h1>
		{% if tickets.ticket_status == 2:  %}
		<form action="{{ url_for('site.ticket_close') }}" method="post">
			<input name="uuid" id="uuid" value="{{tickets.uuid}}" hidden>
			<button type="submit" class="btn btn-success">Close {{tickets.uuid}}</button>
		</form>
		{% endif %}
		<table>
			<tr>
				<th> Date</th>
				<th> User </th>
				<th> Comment </th>
			</tr>
			<tr>
				<td>{{tickets.date_time}}</td>
				<td>{% for each in users%}
					{% if each.uuid == tickets.user_uuid%}
					{{each.first_name}}{{each.last_name}}
					{%endif%}
					{%endfor%}
				</td>
				<td>{{tickets.ticket_body}}</td>
			</tr>
			<tr>
                {%if len(ticket_info == 1): %}
				<th>ticket_info.date_time</th>
				<th>{% for eachu in users%}
					{% if eachu.uuid == each.user_uuid%}
					{{eachu.first_name}}{{eachu.last_name}}
					{%endif%}
					{%endfor%}
				</th>
				<th>each.ticket_reply</th>
			</tr>
			</tr>
		</table>
	</div>
	<br> 
	<hr >
	<div>
		<div>
			<h1>Reply   </h1>
		</div>
		<form action="{{ url_for('site.ticket_reply') }}" method="post">
			<input type="text" name="user_uuid" id="user_uuid" value="{{session['uuid']}}" hidden>
			<input type="text" name="ticket_uuid" id="ticket_uuid" value="{{tickets.uuid}}" hidden>
			<textarea name="ticket_body" id="ticket_body" placeholder="Enter text here..." required></textarea>
			<br>
			<input type="submit" value="Submit Ticket">
		</form>
	</div>
</div>
{% endblock %}

