{% extends 'header.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<div>

    <div>

        <h1>Ticket - Single {{tickets.uuid}} - {{tickets.ticket_header}}</h1>
        {% if tickets.ticket_status == 2:  %}
                <form action="{{ url_for('site.ticket_close') }}" method="post">
                    <input name="uuid" id="uuid" value="{{tickets.uuid}}" hidden>
                    <button type="submit" class="btn btn-success">Close {{tickets.uuid}}</button>
                </form>
        {% endif %}
                <form action="{{ url_for('site.ticket') }}" method="post">

                    <button type="submit" class="btn btn-primary">Back to Tickets</button>
                </form>

        <table>
            <tr>
              <th> Date</th>
              <th> User </th>
              <th> Comment </th>

            </tr>
            {% if t_i == 1:%}
            <tr>
              <td>{{tickets.date_time}}</td>
              <td>{% for each in users%}
                    {% if each.uuid == tickets.user_uuid%}
                        {{each.first_name}}{{each.last_name}}
                    {%endif%}
                    {%endfor%}
              </td>
              <td>{{tickets.ticket_body}}</td>
            </tr>
            {%else:%}
            {%for each in ticket_info%}
            <tr>
                <td>{{each.date_time}}</td>
                <td>{% for each_u in users%}
                      {% if each_u.uuid == each.user_uuid%}
                          {{each_u.first_name}}{{each_u.last_name}}
                      {%endif%}
                      {%endfor%}
                </td>
                <td>{{each.ticket_reply}}</td>
              </tr>
            {%endfor%}
            {%endif%}
        </table>
        
    </div>
    <br> <hr >
    <div>
        {%if tickets.ticket_status == 2:%}
        <div>
            <h1>Reply</h1>
        </div>
    
            <form action="{{ url_for('site.ticket_reply') }}" method="post">
            <input type="text" name="user_uuid" id="user_uuid" value="{{session['uuid']}}" hidden>
            <input type="text" name="ticket_uuid" id="ticket_uuid" value="{{tickets.uuid}}" hidden>
            <textarea name="ticket_body" id="ticket_body" placeholder="Enter text here..." required></textarea>
            <br>
            <input type="submit" value="Submit Ticket">
        </form>
        </div>
        {%endif%}
    </div>

{% endblock %}