{% extends 'header.html' %}
{% block title %}Home{% endblock %}


{% block content %}
<p1> Hi </p1>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  
<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
var xValues = [100,200,300,400,500,600,700,800,900,1000, 11, 12];
var i;
new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{ 
      data: {{ chart[0] | safe}},
      borderColor: "red",
      fill: false
    }, { 
      data: {{ chart[1] | safe}},
      borderColor: "green",
      fill: false
    }]
  },
  options: {
    legend: {display: true}
  }
});

for(let i=0;i<10;i++){
  console.log("hi")
  myChart.data.dataset.push({
    label: "item "+i,
    data: {{ chart[2] | safe}},
      borderColor: "blue",
      fill: false
  });
}
myChart.update()

</script>


{% endblock %}
